.material-icons {
	line-height: 1;
	vertical-align: middle;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.main-timer {
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	color: #1565C0;
	line-height: 1;

	margin: 20px 0;
}

.card {
	background: #fff;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
	padding: 24px;
}
.card-header {
	padding-bottom: 24px;
}
.card-title {
	line-height: 1;
	font-size: 17px;
	font-weight: 400;
	color: #000;

	margin: 0;
}

.interval {
	line-height: 28px;

	margin-bottom: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.interval-handle-wrap {
	float: left;
	width: 35px;
}
.interval-handle {
	cursor: move;
}
.interval-time {
	float: left;
	width: 120px;
	
	font-size: 28px;
	font-weight: 300;
	color: #1565C0;
	/*text-align: right;*/
}
.interval-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	margin-left: 165px;
	margin-right: 60px;
}
.interval-actions {
	float: right;
	width: 55px;
	
	text-align: right;
}
.interval-link {
	color: #5e5e5e;
}

.options {
	margin-top: 30px;
}
.options-item {
	margin-top: 0;
	margin-bottom: 15px;
}
.options-item:last-child {
	margin-bottom: 0;
}

.buttons {
	text-align: center;
}
.buttons .btn {
	margin: 0 5px;
}

.form .form-group:last-child {
	margin-bottom: 0;
}

.current-interval-name {
	font-size: 20px;
	text-align: center;
}
.current-interval-index {
	text-align: center;
	margin-bottom: 30px;
}

.form-control.ng-dirty.ng-invalid {
	border-color: #f44336;
}