body {
	background: #edecec;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #5e5e5e;

	padding-bottom: 30px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #000000;
}
h1, .h1 {
	font-size: 33px;
}
h2, .h2 {
	font-size: 27px;
}
h3, .h3 {
	font-size: 23px;
}
h4, .h4 {
	font-size: 17px;
}
h5, .h5 {
	font-size: 13px;
}
h6, .h6 {
	font-size: 12px;
}
label {
	font-weight: 500;
}
a {
	color: #1565C0;
	cursor: pointer;
}