@media (max-width: 460px) {
	.interval-time {
		float: none;

		margin-left: 35px;
		margin-right: 60px;
	}
	.interval-name {
		line-height: 1;

		margin-left: 35px;
		margin-top: 10px;
	}
}

@media (max-width: 360px) {
	.buttons .btn {
		display: block;
		width: 100%;

		margin: 0 0 10px 0;
	}
}