<!DOCTYPE html>
<html lang="en" ng-app="intervalTimer">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Interval Timer</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="bower_components/jquery-ui/themes/base/core.css" rel="stylesheet">
	<link href="bower_components/jquery-ui/themes/base/sortable.css" rel="stylesheet">

	<link href="css/bootstrap-overwrite.css" rel="stylesheet">
	<link href="css/base.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
</head>
<body ng-controller="TimerCtrl as timer">
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=".">Interval Timer</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="timer.saveState()" ng-show="timer.intervals.length">Save</a></li>
				<li><a ng-click="timer.loadState()" ng-show="timer.timers.length">Load</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container" ng-cloak>

	<div ng-show="timer.isStatus(timer.STATUS_STOP)">
		<h2 class="main-timer">{{timer.totalTime() | time}}</h2>

		<div class="intervals" ng-show="timer.intervals.length" ui-sortable="timer.sortableOptions" ng-model="timer.intervals">
			<div class="card interval clearfix" ng-repeat="interval in timer.intervals">
				<div class="interval-handle-wrap"><i class="material-icons interval-handle">more_vert</i></div>
				<div class="interval-actions">
					<a class="interval-link" ng-click="timer.editInterval(interval)"><i class="material-icons">edit</i></a>
					<a class="text-danger" ng-click="timer.removeInterval(interval)"><i class="material-icons">delete</i></a>
				</div>
				<div class="interval-time">{{interval.time | time}}</div>
				<div class="interval-name">{{interval.name}}</div>
			</div>
		</div>

		<div class="card options">
			<div class="card-header"><div class="card-title">Options</div></div>

			<div class="options-item checkbox">
				<label>
					<input type="checkbox" ng-model="timer.loop"><i class="input-helper"></i> Loop
				</label>
			</div>
			<div class="options-item checkbox">
				<label>
					<input type="checkbox" ng-model="timer.showNotifications"><i class="input-helper"></i> Show notifications
				</label>
			</div>
			<div class="options-item checkbox">
				<label>
					<input type="checkbox" ng-model="timer.playSound"><i class="input-helper"></i> Play sound
				</label>
			</div>
		</div>

		<div class="buttons">
			<button type="button" class="btn btn-default" ng-click="timer.showAddForm()">Add interval</button>
			<button type="button" class="btn btn-primary" ng-click="timer.start()" ng-show="timer.intervals.length">Start timer</button>
		</div>
	</div>

	<div ng-hide="timer.isStatus(timer.STATUS_STOP)">
		<h2 class="main-timer">{{timer.currentInterval.pastTime | time}} / {{timer.currentInterval.time | time}}</h2>

		<div class="current-interval-name">{{timer.currentInterval.name}}</div>

		<div class="current-interval-index">{{timer.currentIntervalIndex + 1}} / {{timer.intervals.length}}</div>

		<div class="buttons">
			<button type="button" class="btn btn-default" ng-click="timer.pause()" ng-show="timer.isStatus(timer.STATUS_PLAY)">Pause timer</button>
			<button type="button" class="btn btn-primary" ng-click="timer.start()" ng-show="timer.isStatus(timer.STATUS_PAUSE)">Start timer</button>
			<button type="button" class="btn btn-danger" ng-click="timer.stop()">Stop timer</button>
		</div>

	</div>
</div>

<script type="text/ng-template" id="addIntervalModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Add interval</h4>
	</div>
	<div class="modal-body">
		<form name="intervalForm" class="form" id="interval-form" novalidate ng-submit="intervalForm.$valid && ok()">
			<div class="form-group">
				<label>Time interval</label>
				<div class="row">
					<div class="col-xs-4">
						<div>Hours</div>
						<input type="number" min="0" step="1" class="form-control" ng-model="interval.hours">
					</div>
					<div class="col-xs-4">
						<div>Minutes</div>
						<input type="number" min="0" step="1" class="form-control" ng-model="interval.minutes">
					</div>
					<div class="col-xs-4">
						<div>Seconds</div>
						<input type="number" min="0" step="1" class="form-control" autofocus ng-model="interval.seconds">
					</div>
				</div>

			</div>

			<div class="form-group">
				<label>Interval name</label>
				<input type="text" class="form-control" name="name" placeholder="Optional" ng-model="interval.name">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-link" ng-click="cancel()">Close</button>
		<button type="submit" class="btn btn-primary btn-link" form="interval-form">Save</button>
	</div>
</script>

<script type="text/ng-template" id="timerSaveModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Save timer</h4>
	</div>
	<div class="modal-body">
		<form name="timerSaveForm" class="form" id="timer-save-form" novalidate ng-submit="timerSaveForm.$valid && ok()">
			<div class="form-group">
				<label>Timer name</label>
				<input type="text" class="form-control" name="name" ng-model="name" autofocus required>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-link" ng-click="cancel()">Close</button>
		<button type="submit" class="btn btn-primary btn-link" form="timer-save-form">Save</button>
	</div>
</script>

<script type="text/ng-template" id="timerListModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Saved timers</h4>
	</div>
	<div class="modal-body">
		<table class="table">
			<thead>
			<tr>
				<th>Timer name</th>
				<th>Intervals</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="timer in timers">
				<td>
					<a ng-click="load(timer)">{{timer.name}}</a><br>
					{{timer.date | date:'short'}}
				</td>
				<td>
					<div ng-repeat="interval in timer.intervals">
						{{interval.time | time}}
						<span class="text-muted" ng-if="interval.name != ''">({{interval.name}})</span>
					</div>
				</td>
				<td class="text-right">
					<a class="text-danger" ng-click="delete(timer)"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-link" ng-click="cancel()">Close</button>
	</div>
</script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/core.js"></script>
<script src="bower_components/jquery-ui/ui/widget.js"></script>
<script src="bower_components/jquery-ui/ui/mouse.js"></script>
<script src="bower_components/jquery-ui/ui/sortable.js"></script>
<script src="bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/howler.js/src/howler.core.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-notification/angular-notification.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/TimerCtrl.js"></script>
<script src="js/controllers/IntervalCtrl.js"></script>
<script src="js/controllers/TimerSaveCtrl.js"></script>
<script src="js/controllers/TimerListCtrl.js"></script>
<script src="js/filters/time.js"></script>
<script src="js/services/title.js"></script>
<script src="js/services/sound.js"></script>
<script src="js/services/timersStorage.js"></script>
</body>
</html>